* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(images/bg1.png);
    z-index: -1;
    font-family: 'Open Sans', sans-serif;
    color: gray;
}

header {
    height: 400px;
    background-image: url(images/bg2.png);
    background-image: no-repeat;    
}

li {
    list-style-type: none;
    float: right;
    margin-top: 120px;
    margin-right: 50px;
    text-align: right;    
    overflow: auto;
}

li img {
    height: 25px;
    position: relative;
    top: 5px;
    padding-left: 10px;
}

ul {
    line-height: 0;
    font-weight: 600;
}

main {
    margin-left: 50px;
    margin-right: 50px;
}

h1{
    color: grey;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6pt;
    font-weight: normal;
    border-bottom: #29abe2 solid 4px;
    display: table-cell;
}

footer {
    height: 400px;
    background-image: url(images/bg3.png);
    background-position: left bottom;
    background-image: no-repeat;
    background-size: cover;
}

.letter {
    margin: auto;
    width: 800px;
    background-color: white;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}

.logo {
    float: left;
    margin-left: 70px;
    margin-top: 80px;
}

.nav {
    line-height: 1.6;
}

.h1 {
    color: #29abe2;
    font-weight: 600;
}

.p1 {
    float: left;
    width: 50%;
    margin-bottom: 50px;
}

.p2 {
    clear: left;
    margin-bottom: 50px;
}

.p3 {
    margin-top: 50px;
    margin-bottom: 0;
    box-sizing: border-box;
}

.border2 {
    width: 50%;
    border-bottom: #29abe2 solid 4px;
}
.sign {
    margin-left: 50px;
    font-family: 'Great Vibes', cursive;
    font-size: 40pt;
    position: relative;
    top: 100px;
}

